<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net452" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net452" />
  <package id="SteamWebAPI" version="1.0.13" targetFramework="net452" />
</packages>