<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.0" targetFramework="net452" />
  <package id="Fody" version="3.2.0" targetFramework="net452" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
</packages>